.fiche-logement {
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
        width: 100%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
 
    }
    hgroup {

      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: black;
      }
    }
}