.fiche-logement {
    display: flex;
    flex-direction: column;
    gap: 15px;

    header {
      width: 100%;

      > div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        hgroup {
          h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 36px;
            font-weight: 500;
            color: #FF6060;
          }

          p {
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: black;
          }
        }

        aside {
          img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
          }
        }

        .rating {
          display: flex;
          gap: 6px;

          .star {
            font-size: 20px;
            color: #e3e3e3;
          }

          .star.star--full {
            color: #ff6060;
          }
        }
      }
    }
}