.fiche-logement {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 3.25rem;

    header {
      width: 100%;

      > div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        hgroup {
          h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 36px;
            font-weight: 500;
            color: #FF6060;
          }

          p {
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: black;
          }
        }

        aside {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          
          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
          }

          p {
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            color: #FF6060;
          }
        }

        ul {
          display: flex;
          justify-content: space-between;
          gap: .75rem;
          list-style: none;
          margin-block: 1.25rem 1.25rem;

          li {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            color: white;
            background-color: #FF6060;
            border-radius: 10px;
            padding: 0px 2rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

        }
      
        .rating {
          display: flex;
          gap: 6px;

          .star {
            font-size: 24px;
            color: #e3e3e3;
          }

          .star.star--full {
            color: #ff6060;
          }
        }
      }
    }

    .fiche-logement-collapses {
      display: flex;
      justify-content: space-between;
      gap:75px;

      .collapse-logement {
       width: min(100%, 582px);
       font-size: 18px;

       p {
        margin-top: 1.25rem;

       }

       ul {
        margin-top: 1.25rem;
        
       }
      }
    }
}
