article {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  h2 {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    margin: 0;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
}