.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.6875rem; /* 139px haut / bas */

  padding: 8.6875rem 0;
  text-align: center;
}

h1 {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18rem; /* 288px */
  line-height: 1.43;
  color: #ff6060;
}

p {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.25rem; /* 36px */
  line-height: 1.43;
  color: #ff6060;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem; /* 18px */
  line-height: 1.43;

  color: #000;
  text-decoration: underline;
}