header {
  display: flex;
  justify-content: center;
  margin-block-start: 1.5rem;
  
  @media (width > 768px) {
    margin-block-start: 2rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    max-width: 1240px;
    margin-inline: 1.5rem;
    
    menu {
      display: flex;
      gap: 4rem;
      list-style: none;
      padding: 0;
      margin: 0;
      
      a {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        
        &:visited {
          color: black;
        }
        
        &[aria-current="page"] {
          text-decoration: underline;
        }
      }
    }
  }
}
