details {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;

  summary {
    background: #ff6060;
    border-radius: 0.3rem;

    height: 3.375rem;
    padding: 0.625rem 1.25rem 0.625rem 0.94rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    list-style: none;

    h2 {
      margin: 0;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform 0.2s ease;
    }
  }

  div {
    padding: 1rem;
  }
}

details[open] {
  summary {
    img {
      transform: rotate(180deg);
    }
  }
}