.carrousel {
    position: relative;
    
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        
        &:first-of-type {
            left: 10px;

            svg {
                transform: rotate(180deg);
            }
        }

        &:last-of-type {
            right: 10px;
        }
        
        svg {
            width: 47px;
            height: 80px;
            fill: white;
        }
    }
    
    ul {
        display: flex;
        gap: 0;
        
        overflow-x: scroll;
        
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        
        padding: 0;
        margin: 0;
        
        scrollbar-width: 0;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        li {
            flex: 0 0 100%;
            width: 100%;
            height: 100%;
            
            scroll-snap-align: start;
        }
    }
}