footer {
  height: 13rem;
  background: #000;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  img {
    margin-bottom: 1.8rem;
  }
}

