.footer {
  height: 13rem;
  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 0;
  color: #fff;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.43;
  letter-spacing: 0;
  text-align: center;
}