* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  main {
    flex-grow: 1;
  }
}

main {
  width: 100%;  
  max-width: 1240px;
  margin-block-start: 1.5rem;
  margin-inline: auto;
}

