.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    height: 6.95rem; 
    border-radius: 0.625rem;
    filter: brightness(50%);
    width: 100%;
    object-fit: cover;
  }

  figcaption {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    padding-left: 1.25rem
  }

  @media (width > 48rem) {
    img {
      height: 14rem;
      border-radius: 1.6rem;
    }

    figcaption {
      font-size: 3rem;
    }
  }
}