.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        height: 14rem;
        border-radius: 1.6rem;
        filter: brightness(50%);
        width: 100%;
        object-fit: cover;
    }
    
    figcaption {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: white;
        position: absolute;
    }
}